# Игнорируем временные папки сборки Arduino IDE
**/build/
**/bin/

# Игнорируем файлы локальных настроек редакторов
.build/
.p发明/
.vscode/
.theia/
.idea/
*.swp
*~

# На всякий случай игнорируем файлы прошивок, если вы скомпилируете их прямо в папку проекта
*.hex
*.bin
*.elf

# Игнорируем скрытые файлы операционных систем
.DS_Store
Thumbs.db
